{% extends 'base.html.twig' %}

{% trans_default_domain 'app' %}

{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/users/style.css') }}" />
{% endblock %}

{% block body %}

    <p id="message"></p>

    <div class="col-xl-10 offset-xl-1 col-lg-12 col-md-12 col-sm-6 col-8">
        
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        
            <div class="col-12">
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}   
            </div>
            <div class="col-12">
                <a href="{{ path('fos_user_security_logout') }}"> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>     
            </div>

            <h1>{{ 'general.title.list_book'|trans }}</h1> 

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'general.head.title'|trans }}</th>
                        <th>{{ 'general.head.author'|trans }}</th>
                        <th>{{ 'general.head.kind'|trans }}</th>
                        <th>{{ 'general.head.editor'|trans }}</th>
                        <th>{{ 'general.head.short_description'|trans }}</th>
                        <th>{{ 'general.head.action'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.kind }}</td>
                        <td>{{ book.editor }}</td>
                        <td>{{ book.shortDescription }}</td>
                        <td>
                            <ul>
                                <li class="un_list">
                                    <a id="edit_book" href="{{ path('book_edit', { 'id': book.id }) }}">
                                        {% image '@AppBundle/Resources/public/images/edit.jpg' %}
                                            <img src="{{ asset_url }}" width="20" height="20" alt="Edit" />
                                        {% endimage %}
                                    </a>
                                </li>
                                <li class="un_list">
                                    <a id="del_book" href="#" name="{{ book.id }}">
                                        {% image '@AppBundle/Resources/public/images/trash.jpg' %}
                                            <img src="{{ asset_url }}" width="20" height="20" alt="Delete" />
                                        {% endimage %}
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p>
                <a class= "btn btn-primary" href="{{ path('book_new') }}">{{ 'general.button.new_book'|trans }}</a>   
            </p> 
            
        {% endif %}  
        
    </div>
            
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        // Suppression d'un livre
        $('a#del_book').click(function(event) {
            
            // On bloque le comportement du bouton
            event.preventDefault();
    
            // Message de confirmation
            var test = confirm("Etes vous sur de vouloir supprimer ce livre ?");
    
            if(test){
                
                // On récupère l'id du livre
                var id = $(this).attr('name');
                
               var urlT = '{{ path("book_delete", { 'id': 'idE'}) }}';
                
                urlT = urlT.replace("idE", id);
              
                $.ajax({
                    
                    url: urlT,  // On renseigne l'url TWIG
                    method: "delete",
                    data: {id: id} // On passe l'id dans la requête
                    
                }).done(function(msg){
                    
                    console.log(msg.msg);
                    
                    // Suppression de la ligne en cause
                    $('a[name="'+id+'"]').parents('tr').hide();
                }); 
                
            }
           
        });
        
    
    </script> 

{% endblock %}