{% extends 'base.html.twig' %}

{% trans_default_domain 'app' %}

{% block stylesheets %}
        <!-- Style Perso Users CSS -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/users/style.css') }}" />
{% endblock %}

{% block body %}

    <p id="message"></p>

    <div class="col-xl-10 offset-xl-1 col-lg-12 col-md-12 col-sm-6 col-8">
        
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        
            <div class="col-12">
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}   
            </div>
            <div class="col-12">
                <a href="{{ path('fos_user_security_logout') }}"> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>     
            </div>
            
            <h1>{{ 'general.title.list_user'|trans }}</h1>        
    
            <table class="table table-striped table-bordered">
                
                <thead>
                    <tr>
                        <th>{{ 'general.head.username'|trans }}</th>
                        <th>{{ 'general.head.role'|trans }}</th>
                        <th>{{ 'general.head.mail'|trans }}</th>
                        <th>{{ 'general.head.status'|trans }}</th>
                        <th>{{ 'general.head.last_login'|trans }}</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                
                <tbody>
                    
                {% for user in users %}
                    <tr>
                        <td>
                            {{ user.username }}
                        </td>
                        <td>
                            {% set role = 'general.body.' ~ user.roles.0 %}
                            {{ role|lower|trans  }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            {% if user.enabled == false %}
                                {% set etat = 'general.body.statement_0' %}
                            {% else %}
                                {% set etat = 'general.body.statement_1' %}
                            {% endif %}
                
                            {{ etat|trans }}
                        </td>
                        <td>
                            {{ user.lastLogin|date('d-m-Y H:i:s') }}
                        </td>
                        <td>
                            <ul>
                                <li>
                                    <a id="edit_user" href="{{ path('user_edit', { 'id': user.id }) }}">
                                        <img></img>
                                    </a>
                                </li>
                                <li>
                                    <a id="del_user" href="#" name="{{ user.id }}">
                                        <img></img>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                
                </tbody>
                
            </table>
            <p>
                <a class= "btn btn-primary" href="{{ path('user_new') }}">{{ 'general.button.new'|trans }}</a>   
            </p>                             

        
    
        {% endif %}  
        
    </div>
        
{% endblock %} 

{% block javascripts %}

    <script type="text/javascript">

        // Suppression d'un utilisateur
        $('a#del_user').click(function(event) {
            
            // On bloque le comportement du bouton
            event.preventDefault();
    
            // Message de confirmation
            var test = confirm("Etes vous sur de vouloir supprimer cet utilisateur ?");
    
            if(test){
                
                // On récupère l'id de l'utilisateur
                var id = $(this).attr('name');
                
               var urlT = '{{ path("delete_user", { 'id': 'idE'}) }}';
                
                urlT = urlT.replace("idE", id);
              
                $.ajax({
                    
                    url: urlT,  // On renseigne l'url TWIG
                    method: "post",
                    data: {id: id} // On passe l'id dans la requête
                    
                }).done(function(msg){
                    
                    console.log(msg.msg);
                    
                    // Suppression de la ligne en cause
                    $('a[name="'+id+'"]').parents('tr').hide();
                }); 
                
            }
           
        });
        
    
    </script> 

{% endblock %}